<div style="background: #000;
            color: #FFF;
            margin: 0px;
            padding: 10px 0px 20px 0px;
            text-align: center; 
                ">
    <h1 >Week 17 Project</h1>
</div>

Complete the following parts:

### Part 1 
In the 20×20 grid below, four numbers along a diagonal line have been marked in red.

<p class="monospace center">
08 02 22 97 38 15 00 40 00 75 04 05 07 78 52 12 50 77 91 08<br />
49 49 99 40 17 81 18 57 60 87 17 40 98 43 69 48 04 56 62 00<br />
81 49 31 73 55 79 14 29 93 71 40 67 53 88 30 03 49 13 36 65<br />
52 70 95 23 04 60 11 42 69 24 68 56 01 32 56 71 37 02 36 91<br />
22 31 16 71 51 67 63 89 41 92 36 54 22 40 40 28 66 33 13 80<br />
24 47 32 60 99 03 45 02 44 75 33 53 78 36 84 20 35 17 12 50<br />
32 98 81 28 64 23 67 10 <span style="color:red;"><b>26</b></span> 38 40 67 59 54 70 66 18 38 64 70<br />
67 26 20 68 02 62 12 20 95 <span  style="color:red;"><b>63</b></span> 94 39 63 08 40 91 66 49 94 21<br />
24 55 58 05 66 73 99 26 97 17 <span  style="color:red;"><b>78</b></span> 78 96 83 14 88 34 89 63 72<br />
21 36 23 09 75 00 76 44 20 45 35 <span  style="color:red;"><b>14</b></span> 00 61 33 97 34 31 33 95<br />
78 17 53 28 22 75 31 67 15 94 03 80 04 62 16 14 09 53 56 92<br />
16 39 05 42 96 35 31 47 55 58 88 24 00 17 54 24 36 29 85 57<br />
86 56 00 48 35 71 89 07 05 44 44 37 44 60 21 58 51 54 17 58<br />
19 80 81 68 05 94 47 69 28 73 92 13 86 52 17 77 04 89 55 40<br />
04 52 08 83 97 35 99 16 07 97 57 32 16 26 26 79 33 27 98 66<br />
88 36 68 87 57 62 20 72 03 46 33 67 46 55 12 32 63 93 53 69<br />
04 42 16 73 38 25 39 11 24 94 72 18 08 46 29 32 40 62 76 36<br />
20 69 36 41 72 30 23 88 34 62 99 69 82 67 59 85 74 04 36 16<br />
20 73 35 29 78 31 90 01 74 31 49 71 48 86 81 16 23 57 05 54<br />
01 70 54 71 83 51 54 69 16 92 33 48 61 43 52 01 89 19 67 48<br /></p>
<p>The product of these numbers is 26 × 63 × 78 × 14 = 1788696.</p>
<p>What is the greatest product of four adjacent numbers in the same direction (up, down, left, right, or diagonally) in the 20×20 grid?</p>

Use numpy or pandas as needed.

In [36]:
import numpy as np
import pandas as pd

grid = \
"""
08 02 22 97 38 15 00 40 00 75 04 05 07 78 52 12 50 77 91 08
49 49 99 40 17 81 18 57 60 87 17 40 98 43 69 48 04 56 62 00
81 49 31 73 55 79 14 29 93 71 40 67 53 88 30 03 49 13 36 65
52 70 95 23 04 60 11 42 69 24 68 56 01 32 56 71 37 02 36 91
22 31 16 71 51 67 63 89 41 92 36 54 22 40 40 28 66 33 13 80
24 47 32 60 99 03 45 02 44 75 33 53 78 36 84 20 35 17 12 50
32 98 81 28 64 23 67 10 26 38 40 67 59 54 70 66 18 38 64 70
67 26 20 68 02 62 12 20 95 63 94 39 63 08 40 91 66 49 94 21
24 55 58 05 66 73 99 26 97 17 78 78 96 83 14 88 34 89 63 72
21 36 23 09 75 00 76 44 20 45 35 14 00 61 33 97 34 31 33 95
78 17 53 28 22 75 31 67 15 94 03 80 04 62 16 14 09 53 56 92
16 39 05 42 96 35 31 47 55 58 88 24 00 17 54 24 36 29 85 57
86 56 00 48 35 71 89 07 05 44 44 37 44 60 21 58 51 54 17 58
19 80 81 68 05 94 47 69 28 73 92 13 86 52 17 77 04 89 55 40
04 52 08 83 97 35 99 16 07 97 57 32 16 26 26 79 33 27 98 66
88 36 68 87 57 62 20 72 03 46 33 67 46 55 12 32 63 93 53 69
04 42 16 73 38 25 39 11 24 94 72 18 08 46 29 32 40 62 76 36
20 69 36 41 72 30 23 88 34 62 99 69 82 67 59 85 74 04 36 16
20 73 35 29 78 31 90 01 74 31 49 71 48 86 81 16 23 57 05 54
01 70 54 71 83 51 54 69 16 92 33 48 61 43 52 01 89 19 67 48
"""

In [18]:
arr = np.array(list((grid.split())), dtype = int)
arr

array([ 8,  2, 22, 97, 38, 15,  0, 40,  0, 75,  4,  5,  7, 78, 52, 12, 50,
       77, 91,  8, 49, 49, 99, 40, 17, 81, 18, 57, 60, 87, 17, 40, 98, 43,
       69, 48,  4, 56, 62,  0, 81, 49, 31, 73, 55, 79, 14, 29, 93, 71, 40,
       67, 53, 88, 30,  3, 49, 13, 36, 65, 52, 70, 95, 23,  4, 60, 11, 42,
       69, 24, 68, 56,  1, 32, 56, 71, 37,  2, 36, 91, 22, 31, 16, 71, 51,
       67, 63, 89, 41, 92, 36, 54, 22, 40, 40, 28, 66, 33, 13, 80, 24, 47,
       32, 60, 99,  3, 45,  2, 44, 75, 33, 53, 78, 36, 84, 20, 35, 17, 12,
       50, 32, 98, 81, 28, 64, 23, 67, 10, 26, 38, 40, 67, 59, 54, 70, 66,
       18, 38, 64, 70, 67, 26, 20, 68,  2, 62, 12, 20, 95, 63, 94, 39, 63,
        8, 40, 91, 66, 49, 94, 21, 24, 55, 58,  5, 66, 73, 99, 26, 97, 17,
       78, 78, 96, 83, 14, 88, 34, 89, 63, 72, 21, 36, 23,  9, 75,  0, 76,
       44, 20, 45, 35, 14,  0, 61, 33, 97, 34, 31, 33, 95, 78, 17, 53, 28,
       22, 75, 31, 67, 15, 94,  3, 80,  4, 62, 16, 14,  9, 53, 56, 92, 16,
       39,  5, 42, 96, 35, 31, 47, 55, 58, 88, 24,  0, 17, 54, 24, 36, 29,
       85, 57, 86, 56,  0, 48, 35, 71, 89,  7,  5, 44, 44, 37, 44, 60, 21,
       58, 51, 54, 17, 58, 19, 80, 81, 68,  5, 94, 47, 69, 28, 73, 92, 13,
       86, 52, 17, 77,  4, 89, 55, 40,  4, 52,  8, 83, 97, 35, 99, 16,  7,
       97, 57, 32, 16, 26, 26, 79, 33, 27, 98, 66, 88, 36, 68, 87, 57, 62,
       20, 72,  3, 46, 33, 67, 46, 55, 12, 32, 63, 93, 53, 69,  4, 42, 16,
       73, 38, 25, 39, 11, 24, 94, 72, 18,  8, 46, 29, 32, 40, 62, 76, 36,
       20, 69, 36, 41, 72, 30, 23, 88, 34, 62, 99, 69, 82, 67, 59, 85, 74,
        4, 36, 16, 20, 73, 35, 29, 78, 31, 90,  1, 74, 31, 49, 71, 48, 86,
       81, 16, 23, 57,  5, 54,  1, 70, 54, 71, 83, 51, 54, 69, 16, 92, 33,
       48, 61, 43, 52,  1, 89, 19, 67, 48])

In [29]:
arr = arr.reshape(20,20)
arr

#or 
#arr = [map(int, line.split()) for line in grid.split('\n')]

array([[ 8,  2, 22, 97, 38, 15,  0, 40,  0, 75,  4,  5,  7, 78, 52, 12,
        50, 77, 91,  8],
       [49, 49, 99, 40, 17, 81, 18, 57, 60, 87, 17, 40, 98, 43, 69, 48,
         4, 56, 62,  0],
       [81, 49, 31, 73, 55, 79, 14, 29, 93, 71, 40, 67, 53, 88, 30,  3,
        49, 13, 36, 65],
       [52, 70, 95, 23,  4, 60, 11, 42, 69, 24, 68, 56,  1, 32, 56, 71,
        37,  2, 36, 91],
       [22, 31, 16, 71, 51, 67, 63, 89, 41, 92, 36, 54, 22, 40, 40, 28,
        66, 33, 13, 80],
       [24, 47, 32, 60, 99,  3, 45,  2, 44, 75, 33, 53, 78, 36, 84, 20,
        35, 17, 12, 50],
       [32, 98, 81, 28, 64, 23, 67, 10, 26, 38, 40, 67, 59, 54, 70, 66,
        18, 38, 64, 70],
       [67, 26, 20, 68,  2, 62, 12, 20, 95, 63, 94, 39, 63,  8, 40, 91,
        66, 49, 94, 21],
       [24, 55, 58,  5, 66, 73, 99, 26, 97, 17, 78, 78, 96, 83, 14, 88,
        34, 89, 63, 72],
       [21, 36, 23,  9, 75,  0, 76, 44, 20, 45, 35, 14,  0, 61, 33, 97,
        34, 31, 33, 95],
       [78, 17, 53, 28, 22, 75, 31, 67, 15, 94,  3, 80,  4, 62, 16, 14,
         9, 53, 56, 92],
       [16, 39,  5, 42, 96, 35, 31, 47, 55, 58, 88, 24,  0, 17, 54, 24,
        36, 29, 85, 57],
       [86, 56,  0, 48, 35, 71, 89,  7,  5, 44, 44, 37, 44, 60, 21, 58,
        51, 54, 17, 58],
       [19, 80, 81, 68,  5, 94, 47, 69, 28, 73, 92, 13, 86, 52, 17, 77,
         4, 89, 55, 40],
       [ 4, 52,  8, 83, 97, 35, 99, 16,  7, 97, 57, 32, 16, 26, 26, 79,
        33, 27, 98, 66],
       [88, 36, 68, 87, 57, 62, 20, 72,  3, 46, 33, 67, 46, 55, 12, 32,
        63, 93, 53, 69],
       [ 4, 42, 16, 73, 38, 25, 39, 11, 24, 94, 72, 18,  8, 46, 29, 32,
        40, 62, 76, 36],
       [20, 69, 36, 41, 72, 30, 23, 88, 34, 62, 99, 69, 82, 67, 59, 85,
        74,  4, 36, 16],
       [20, 73, 35, 29, 78, 31, 90,  1, 74, 31, 49, 71, 48, 86, 81, 16,
        23, 57,  5, 54],
       [ 1, 70, 54, 71, 83, 51, 54, 69, 16, 92, 33, 48, 61, 43, 52,  1,
        89, 19, 67, 48]])

In [82]:
max_product = 0

for row in range(4):
    for column in range(4):
        for direction in ((0,1), (1,0), (1,1), (-1,-1)):
            try:
                product = 1
                for l in range(4):
                    product *= arr[row + direction[0]*l][column + direction[1]*l]
#                     print(row + direction[0]*l, column + direction[1]*l)
#                     print(arr[row + direction[0]*l][column + direction[1]*l])
                if product > max_product:
                    max_product = product
            except IndexError:
                raise Exception("Error")

print(max_product)

32719995

In [2]:
# #version 2
# a = np.array([ int(x) for x in grid.split() ]).reshape(20,20)
# a

In [1]:
# b = a[::-1,]   #the diagonals of b are the anti-diagonals of a
# b

In [1]:
# maxprod = 0
# for i in range(20):
#     for j in range(20):
#         r = np.prod( a[i][j:j+4] )
#         #print(r)
#         c = np.prod( a[:,j][i:i+4] )
#         #print(c)
#         k = min(i,j)
#         #print(k)
#         d1 = np.prod( np.diagonal(a, j-i)[ k:k+4 ] )
#         #print(d1)
#         d2 = np.prod( np.diagonal(b, j-i)[ k:k+4 ] )
#         print(d2)
#         maxprod = max([maxprod,r,c,d1,d2])
        
# print(maxprod)

## Part 2

For this part we will use the dataset `covid_19_data.csv` located in the `../datasets` folder.

In [29]:
import pandas as pd
import datetime

df = pd.read_csv('../../datasets/covid_19_data.csv')
df.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

**1. What is the shape of this dataframe?**

In [30]:
df.shape

(4247, 8)

**2. How many missing values are there? How do we find this out? Which column is problematic?**

In [31]:
df.isna()  #returs all cells with missing values 
df.isna().sum()  #returns the sum of the cells with missing values

#looks like Province/State is the problematic column with lots of missing values

SNo                   0
ObservationDate       0
Province/State     1498
Country/Region        0
Last Update           0
Confirmed             0
Deaths                0
Recovered             0
dtype: int64

**3. In your own words, what could we do about the missing values? Should we remove rows with the missing values? Are they useful?**

# I would leave the cells empty since they will not mess up with my stats. If the column with missing value cells were the ones I needed in order to do statistical calculaions then i would have filled them up (most likely with average values, so that there won't be any large deviations).
#Also, I could populate the empty cells of Province/State with the str 'unknown'.

**4. Where was the first observation of more than 100+ covid cases?**

In [32]:
print(df.dtypes) #checking the type of each column, Observationdate is a str

df["ObservationDate"] = pd.to_datetime(df.ObservationDate) #turninng the str to datetime
print(df.dtypes) #confirming the new type of the ObservationDate column

SNo                  int64
ObservationDate     object
Province/State      object
Country/Region      object
Last Update         object
Confirmed          float64
Deaths             float64
Recovered          float64
dtype: object
SNo                         int64
ObservationDate    datetime64[ns]
Province/State             object
Country/Region             object
Last Update                object
Confirmed                 float64
Deaths                    float64
Recovered                 float64
dtype: object

In [33]:
df = df.sort_values(by='ObservationDate',ascending=True)  #sorting the df by datetime
df

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,2020-01-22,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
21,22,2020-01-22,Ningxia,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
22,23,2020-01-22,Qinghai,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
23,24,2020-01-22,Shaanxi,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
24,25,2020-01-22,Shandong,Mainland China,1/22/2020 17:00,2.0,0.0,0.0
...,...,...,...,...,...,...,...,...
4082,4083,2020-03-08,NaN,Croatia,2020-03-07T10:13:23,12.0,0.0,0.0
4083,4084,2020-03-08,"Contra Costa County, CA",US,2020-03-08T21:43:03,12.0,0.0,0.0
4084,4085,2020-03-08,"New York County, NY",US,2020-03-08T04:13:22,12.0,0.0,0.0
4118,4119,2020-03-08,NaN,Maldives,2020-03-08T21:13:10,4.0,0.0,0.0
4246,4247,2020-03-08,"Travis, CA (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0

In [34]:
df[df["Confirmed"] > 100].reset_index(drop = True).loc[0,["Province/State", "Country/Region"]]
#the first observation of more than 100 cases was in Hubei, Mainland China.

Province/State             Hubei
Country/Region    Mainland China
Name: 0, dtype: object

**5. What was the date of the first confirmed covid case in the United States?**

In [35]:
df[df["Country/Region"] == 'US']
#I have already sorted the df by datetime ObservatinDate, so the first case in US was on 01/22/2020 in Washington.

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
31,32,2020-01-22,Washington,US,1/22/2020 17:00,1.0,0.0,0.0
69,70,2020-01-23,Washington,US,1/23/20 17:00,1.0,0.0,0.0
117,118,2020-01-24,Washington,US,1/24/20 17:00,1.0,0.0,0.0
118,119,2020-01-24,Chicago,US,1/24/20 17:00,1.0,0.0,0.0
158,159,2020-01-25,Washington,US,1/25/20 17:00,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...
4067,4068,2020-03-08,Grand Princess Cruise Ship,US,2020-03-07T01:33:02,21.0,0.0,0.0
4079,4080,2020-03-08,"Los Angeles, CA",US,2020-03-08T01:13:48,14.0,0.0,0.0
4083,4084,2020-03-08,"Contra Costa County, CA",US,2020-03-08T21:43:03,12.0,0.0,0.0
4084,4085,2020-03-08,"New York County, NY",US,2020-03-08T04:13:22,12.0,0.0,0.0
4246,4247,2020-03-08,"Travis, CA (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0

**6. What caused the most amount of confirmed cases in U.S. during this period?**

In [36]:
#what does this period mean? Is q6 related to q5 in terms of "this period"?

df_US = df[df["Country/Region"] == 'US'].sort_values(by='Confirmed',ascending=False)
df_US

#I suppose what caused the most confirmed cases in US around this time was the location - 
#it seems that the largest amount of confirmed cases were in King County, WA and Weschester County, NY - top 2 with 83 each.

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
4037,4038,2020-03-08,"King County, WA",US,2020-03-08T20:23:09,83.0,17.0,1.0
4038,4039,2020-03-08,"Westchester County, NY",US,2020-03-08T18:03:07,83.0,0.0,0.0
3815,3816,2020-03-07,"King County, WA",US,2020-03-07T20:23:03,71.0,15.0,1.0
3616,3617,2020-03-06,"King County, WA",US,2020-03-06T23:13:07,58.0,12.0,1.0
3817,3818,2020-03-07,"Westchester County, NY",US,2020-03-07T18:23:05,57.0,0.0,0.0
...,...,...,...,...,...,...,...,...
3764,3765,2020-03-06,"Lackland, TX (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0
2477,2478,2020-02-26,"Lackland, TX (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0
2583,2584,2020-02-27,"Omaha, NE (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0
2584,2585,2020-02-27,"Travis, CA (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0
4246,4247,2020-03-08,"Travis, CA (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0

**7. How many deaths occurred in the top 5 deadliest countries in the period of our data set?**

**8. Which country had the highest number of confirmed cases but zero deaths during this period?**

**9. Which country had the highest percent of deaths compared to its cases during this period?**

**10. What was the total number of confirmed cases by day?**

**11. Can you plot a chart from this dataset?**